#formulaire{
  text-align: center;
}

input:focus{
  outline: solid 3px #006400; /* vert */
  outline-offset: 2px;
}
input{
  border: solid 1px #808080; /* gris*/
  width: 200px;
}
label,input{
  display: inline-block;
}
label{
  width: 100px;
  text-align: center;
  margin-right: 10px;
}
input[type=submit]{
  width: 75px;
}

.menu {
  text-align: center;
  display: inline;
  margin-top: auto;
}
