.pokemon:nth-child(2n){
  float : right;
  margin-right: 25%;
  -webkit-filter: grayscale(100%);
 -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
         box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
         /* image en noir et blanc*/
}
.pokemon:nth-child(2n+1){
  float : left;
  margin-left: 25%;
  width: 35%;
  -webkit-filter: grayscale(100%);
 -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
         box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
         /* image en noir et blanc*/
}
/* .menu {
  margin-top: -2%;
} sert à rien */
/*.menu a{
  display: inline;
  font-size: 200%;
  color: #C0C0C0; /* argent
  padding: 3%;
  margin-left: 5%;


} sert à rien */
/*.menu a:hover{
  color: #C0C0C0; /* argent
  text-align: center;
} sert à rien*/
