/* Css pour tous les body et h1*/

@media only screen and (max-width:800px) {
body{
  background-color: #E6E6FA;
  text-align: center;
}
h1{
  float:left; /* pour eviter de scroller si besoin */
  color: blue;
  font-size: 150%; /*adapté à la taille de l'écran */
  /*font-style: italic; suivant le smartphone , ça bug*/
  }
}
