@media only screen and (max-width:800px) {
#trailer {
  padding-bottom: 10%;
  margin-bottom: 10%;
}
 img {
  width: 4%;
  height: 4%;
  /* adapté à la taille d'un smartphone */
}

.menu {
  margin-top: -127%; /* a faire varier*/
}

.menu a{
  display: inline;
  font-size: 50%; /* adapté à la talle d'un smartphone */
  color: blue;
  padding: 3%;
  margin-left: 5%;

}
.menu a:hover{
  color: red;
}
}
